@model OnlineShoppingStore.Domain.Entities.Product

<div class="row" style="margin-bottom:15px;">
    @if (Model.ImageData != null)
    {
        <div class="col-md-2 col-lg-2 col-sm-2">
            <img class="img-thumbnail img-responsive" src="@Url.Action("GetImage", "Product",
                new { Model.ProductID })" />
        </div>
    }
    <div class="col-md-10 col-lg-10 col-sm-10" style="margin-top:-13px;">
        <h3>
            <span class="label label-danger">
                <strong>@Model.Name</strong>

            </span>
            <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
        </h3>

        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Add to cart" />
            </div>
        }

        <span class="lead"> @Model.Description</span>
    </div>
</div>